*.log
.DS_Store
.env
.env.backup
.env.production
.idea
.zed
.nova
.codex
.cursor/
Homestead.json
Homestead.yaml
Thumbs.db
node_modules/
__pycache__/
.venv/

/apps/api/vendor
/apps/api/public/build
/apps/api/public/hot
/apps/api/public/storage
/apps/api/public/fonts-manifest.dev.json
/apps/api/storage/*.key
/apps/api/storage/pail
/apps/api/.phpunit.cache
.phpunit.result.cache
/auth.json
